[Unit]
Description=mxisd
After=syslog.target

[Service]
User=mxisd
ExecStart=/usr/bin/mxisd -c /etc/mxisd/mxisd.yaml

[Install]
WantedBy=multi-user.target
