[Unit]
Description=mxisd
After=syslog.target

[Service]
User=mxisd
ExecStart=/usr/bin/mxisd --spring.config.location=/etc/mxisd/ --spring.config.name=mxisd --spring.profiles.active=systemd
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
